html {
  font-size: 10px;
}

body {
	color: #005500;
    background-color: #CCFFCC;
	text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header, nav, footer, aside, section {
    display: block;
	
    margin-left: 200px;
    margin-right: 200px;
	
	font-family: Helvetica;
	font-size: 10px;
	font-weight: normal;
	
	border: 2px solid #3d3d3d; 
}
header {
	background-color: #88FF88;
	border-radius: 20px 20px 0px 0px;
	height:50px;
	padding-top: 8px;
	
	font-size: 25px;
	font-weight: bold;	
}
nav {
	background-color: #88FF88;
    margin-top: -2px;
	height:50px; 
}
aside {
}
section {	
	background-color: #99CC99;
    margin-top: -2px;
	text-align: left;
	font-weight: normal;
}
footer {
	background-color: #88FF88;
    margin-top: -2px;
	border-radius:0px 0px 20px 20px;
	height:50px;
	padding-top: 14px;
	
	font-size:15px;
	font-weight:bold;
}

a {
	color: #005500;
	text-decoration:none;
}

#wrapper {
    background-color: #CCFFCC;
    width: 900px;
	margin: 0 auto;
	padding-top: 80px;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;			
	background-color: #BBFFAA;
	text-align:left;
	margin-left:20px;
}

#menu_label {
    margin-top: -2px;
    margin-left: -10px;
	padding: 14px;
	background-color: #88FF88;
	border-radius: 0px 20px 20px 0px;
	border: 2px solid #3d3d3d; 
}

#menu li {
	display:inline-block;
	font-weight:bold;
	font-size:15px;
}

#menu a {
	display: block;
	color: #005500;
	text-align: center;
	padding: 14px 20px;
	font-weight:bold;
	font-size:15px;
}

#menu a:hover {
	background-color: #88FF88;
	border-radius:25px 25px 25px 25px;
	border: 2px solid #3d3d3d; 
    margin-top: -2px; 
    margin-left: -2px;
    margin-right: -2px;
}

#bodyText {
	margin-left:80px;
	font-size:15px;
	color:#005500;
	text-align: left;
}

#bodyText a {
	text-decoration:none;
}

#bodyText a:hover {
	text-decoration:underline;
}